

@page "/logout"
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies

@inject NavigationManager navi

@layout Layout.StaticSsrLayout



<h3>Logout</h3>


You have logged out


@code {
	[CascadingParameter]
	public HttpContext? httpContext { get; set; }



	protected override async Task OnInitializedAsync()
	{
		await httpContext.SignOutAsync(CookieAuthenticationDefaults.AuthenticationScheme);


		// while (httpContext.User?.Identity.IsAuthenticated != false)
		// {
		// 	Thread.Sleep(1000);
		// 	Console.WriteLine(httpContext.User?.Identity.IsAuthenticated.ToString());
		// }

		// Console.WriteLine(httpContext.User?.Identity.IsAuthenticated.ToString());

		// Console.WriteLine("loggedout");
		//navi.NavigateTo(navi.Uri, forceLoad: true);


		navi.NavigateTo("/",forceLoad: true);

		
	}
}
